body {
    background-color: yellow;
    padding: 3px;
}

h1 {
    font-family: Georgia, serif;
    border-bottom: 3px solid #cc9900;
    color: #996600;
    font-size: 30px;
    text-shadow: -2px 2px 3px #9c6c11;
}

p {
	font-family: "Trebuchet MS", Verdana, sans-serif;
	font-size: 16px;
}

#header {
    text-align:center;
}