body {
    background-color: #a90000;
    padding: 3px;
}

h1 {
    font-family: Georgia, serif;
    border-bottom: 3px solid #FFFF66;
    color: #FFCC00;
    font-size: 30px;
    text-shadow: -2px 2px 3px #000000;
}

p {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
}

#header {
    text-align:center;
}